body {
    font-family: "Raleway", sans-serif;
    width: 80%;
    margin: 20px;
}
  
  
#Mis-trabajos .image-top {
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: aquamarine;
}
